/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

#define HOST_OS 1
#include "zmk-helpers/helper.h"

#include "zmk-helpers/unicode-chars/german.dtsi"

#define lower 0
#define upper 1
#define three 2
#define nav 3
#define gaming 4

#define MO_TOG(layer) &mo_tog layer layer   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer


&led_strip {
    chain-length = <35>;
};

/ {
    behaviors {
           copy_cut: td_copy_cut {
               compatible = "zmk,behavior-tap-dance";
               #binding-cells = <0>;
               tapping-term-ms = <200>;
               bindings = <&kp LC(INS)>, <&kp LC(X)>;
           };
           
           mo_tog: behavior_mo_tog { // momentary-layer-on-hold/toggle-layer-on-tap
                       compatible = "zmk,behavior-hold-tap";
                       #binding-cells = <2>;
                       flavor = "hold-preferred";
                       tapping-term-ms = <200>;
                       bindings = <&mo>, <&tog>;
                   };
                      
           hm: homerow_mods {
               compatible = "zmk,behavior-hold-tap";
               #binding-cells = <2>;
               tapping-term-ms = <150>;
               quick-tap-ms = <0>;
               flavor = "tap-preferred";
               bindings = <&kp>, <&kp>;
           };
               
       };
       
    keymap {
        compatible = "zmk,keymap";

        lower_case {
            bindings = <
&hm ESCAPE CARET  &out OUT_TOG  &bt BT_CLR     &bt BT_NXT  &trans        &bt BT_SEL 0                             &trans  &trans  &trans  &trans  &trans      &trans
&copy_cut         &kp K         &kp PERIOD    &kp O       &kp COMMA       &kp Y                                    &kp V   &kp G   &kp C   &kp L   &de_eszett  &kp Z
&kp LCTRL         &kp H         &kp A      &kp E       &hm LS(INS) I           &kp U                                    &kp D   &kp T   &kp R   &kp N   &kp S       &kp F
MO_TOG(upper)     &kp X         &kp Q     &de_ae      &de_ue          &de_oe         &trans        &trans      &kp B   &kp P   &kp W   &kp M   &kp J       &mo upper
                                &trans    &trans      &lt three ENTER &lt nav SPACE  &kp TAB          &to gaming  &lt nav SPACE  &lt three ENTER  &trans  &trans
            >;
        };

        upper_case {
            bindings = <
&kp CARET  &trans      &trans          &trans      &trans       &trans                           &trans      &trans      &trans      &trans      &trans      &trans
&trans     &kp LS(K)   &kp PERIOD      &kp LS(O)   &kp COMMA    &kp LS(Y)                        &kp LS(V)   &kp LS(G)   &kp LS(C)   &kp LS(L)   &de_eszett  &kp LS(Z)
&trans     &kp LS(H)   &kp LS(A)       &kp LS(E)   &kp LS(I)    &kp LS(U)                        &kp LS(D)   &kp LS(T)   &kp LS(R)   &kp LS(N)   &kp LS(S)     &kp LS(F)
&trans     &kp LS(X)   &kp LS(Q)       &de_ae      &de_ue       &de_oe      &trans    &trans     &kp LS(B)   &kp LS(P)   &kp LS(W)   &kp LS(M)   &kp LS(J)   &to lower
                       &trans          &trans      &trans       &trans      &trans    &trans     &trans      &trans      &trans      &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans         &trans          &trans             &trans             &trans                                 &trans           &trans                &trans                 &trans     &trans         &trans
&trans  &trans         &kp UNDERSCORE  &kp LEFT_BRACKET   &kp RIGHT_BRACKET  &kp CARET                              &kp EXCLAMATION  &kp LESS_THAN         &kp GREATER_THAN       &kp EQUAL  &kp AMPERSAND  &trans
&trans  &kp BACKSLASH  &kp SLASH       &kp LEFT_BRACE     &kp RIGHT_BRACE    &kp ASTERISK                           &kp QUESTION     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS  &kp COLON      &kp AT_SIGN
&trans  &kp HASH       &kp DOLLAR      &kp PIPE           &kp TILDE          &kp GRAVE      &trans    &trans    &kp PLUS         &kp PERCENT           &kp DOUBLE_QUOTES      &kp SQT    &kp SEMICOLON  &to lower
                       &trans          &trans             &trans             &trans         &trans    &trans    &trans           &trans                &trans                 &trans
            >;
        };

        nav_layer {
            bindings = <
&trans  &trans       &trans         &trans           &trans          &trans                             &trans  &trans  &kp SLASH   &kp ASTERISK  &kp MINUS  &trans
&trans  &kp PAGE_UP  &kp BACKSPACE  &trans           &kp DELETE      &kp PAGE_DOWN                      &trans  &kp N7  &kp N8      &kp N9        &kp PLUS   &trans
&trans  &kp HOME     &kp LEFT       &kp UP_ARROW     &kp RIGHT       &kp END                            &trans  &kp N4  &kp N5      &kp N6        &trans     &trans
&trans  &trans       &trans         &kp DOWN_ARROW   &trans          &trans           &trans    &trans  &none   &kp N1  &kp N2      &kp N3        &trans     &to lower
                     &trans         &trans           &lt three ENTER &lt nav SPACE    &trans    &trans  &trans  &kp N0  &kp PERIOD  &kp COMMA
            >;
        };

        gaming {
            bindings = <
&trans   &kp N6     &kp N7    &kp N8    &kp N9        &kp N0                           &trans  &trans  &kp SLASH   &kp ASTERISK  &kp MINUS  &trans
&kp TAB  &kp N1     &kp N2    &kp N3    &kp N4        &kp N5                           &trans  &kp N7  &kp N8      &kp N9        &kp PLUS   &trans
&trans   &kp CARET  &kp LEFT  &kp UP    &kp RIGHT     &kp F                            &trans  &kp N4  &kp N5      &kp N6        &trans     &trans
&trans   &kp Y      &kp X     &kp DOWN  &kp V         &kp B          &trans    &trans  &none   &kp N1  &kp N2      &kp N3        &trans     &to lower
                    &trans    &none     &kp ENTER     &lt nav SPACE  &trans    &trans  &trans  &kp N0  &kp PERIOD  &kp COMMA
            >;
        };
    };
};
